main[data-page="wallets"] {
  > footer {
    position: fixed;
    right: var(--page-x);
    bottom: var(--page-x);
    left: var(--page-x);
    z-index: 1;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;

    @media (max-width: 34rem) {
      justify-content: center;
    }

    > button {
      pointer-events: auto;
    }
  }

  > article {
    display: grid;
    gap: 1.5rem;
  }
}
