[data-chart="plot"] > [data-chart-marker] {
  position: absolute;
  z-index: 1;
  display: grid;
  place-items: center;
  width: max-content;
  padding-inline: 0.5rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
  color: var(--gray);
  background: transparent;
  font-family: var(--font-mono);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  text-align: center;
  pointer-events: none;
}
