figure[data-chart="series"] {
  path[data-chart="line"] {
    fill: none;
    stroke: var(--color, var(--orange));
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5;
    vector-effect: non-scaling-stroke;
  }
}
