main[data-page="home"] {
  display: grid;
  gap: 2rem;
  place-items: center;
  align-content: center;
  padding: 6rem var(--page-x);

  h1 {
    margin: 0;
    font-size: 4rem;
    line-height: 1;
  }

  nav {
    display: flex;
    gap: 0.5rem;
    font-size: var(--font-size-xs);
    line-height: 1;
  }
}
