main[data-page="wallets"] {
  [data-wallet="tabs"] {
    display: grid;
    gap: 1rem;
    min-width: 0;

    :is(h1, h2, h3, h4, h5, h6) {
      font-family: var(--font-mono);
    }

    > nav {
      display: flex;
      gap: 0.5rem;
      overflow-x: auto;
      scroll-snap-type: x mandatory;

      > button {
        flex: 0 0 auto;
        scroll-snap-align: start;

        &[aria-selected="true"] {
          color: var(--black);
          background: var(--white);
        }
      }
    }

    > div {
      min-width: 0;
    }
  }
}
