[data-treemap] {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  background: var(--black);

  [data-treemap-tile] {
    fill: var(--color);
    stroke: var(--black);
    stroke-width: 1;
    vector-effect: non-scaling-stroke;
  }
}
