main[data-page="wallets"] {
  dialog[data-wallet="receive"] {
    width: min(100% - 2rem, 32rem);

    > article {
      display: grid;
      gap: 1rem;

      > h2 {
        margin: 0;
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-regular);
        line-height: var(--line-height-lg);
      }

      > img {
        justify-self: center;
        width: min(100%, 18rem);
        aspect-ratio: 1;
        padding: 1rem;
        background: var(--white);
        image-rendering: pixelated;
      }

      > p {
        margin: 0;
        font-size: var(--font-size-sm);
        line-height: var(--line-height-sm);
      }

      > footer {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: end;
        > form {
          margin: 0;
        }
      }
    }
  }
}
