main[data-page="wallets"] {
  [data-wallet="empty"] {
    display: grid;
    gap: 1rem;
    place-content: center;
    min-height: calc(100dvh - 2 * var(--offset));
    text-align: center;

    h1 {
      margin: 0;
      font-size: 4rem;
      font-weight: var(--font-weight-regular);
      line-height: 1;
    }

    p {
      max-width: 31rem;
      margin: 0;
      color: var(--gray);
      font-size: var(--font-size-base);
      line-height: var(--line-height-base);
    }

    > menu {
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}
