main[data-page="wallets"] {
  [data-wallet="summary"] {
    display: flex;
    gap: 1rem;
    align-items: end;
    justify-content: space-between;
    min-height: 5rem;

    @media (max-width: 34rem) {
      display: grid;
      justify-items: start;
    }

    :is(h1, h2, h3, h4, h5, h6) {
      font-family: var(--font-mono);
    }

    > p {
      display: grid;
      gap: 0.5rem;
      margin: 0;

      strong {
        min-width: 0;
        overflow-wrap: anywhere;
        color: var(--white);
        font-size: 4rem;
        font-weight: var(--font-weight-regular);
        line-height: 1;
      }

      > span {
        color: var(--gray);
        font-size: var(--font-size-lg);
        line-height: var(--line-height-lg);
      }
    }

    > button {
      flex: 0 0 auto;
    }
  }
}
